
@media (min-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
}

/* Estilos para pantallas más pequeñas (ej. dispositivos móviles) */
@media (max-width: 767px) {
  .table-responsive {
    overflow-x: scroll;
  }
}

.table {
  width: 100%;
}